/*Resetar formatação*/
*, ::before, ::after{
    margin: none;
    padding: none;
}
body, main, h1{
  margin: 0;
  padding: 0;
}
/*Cor das letras*/
a, ul{
    color: white;
}

/*Cabeçalho*/
header, footer{
    width: 100%;
    background-color:  rgb(34, 1, 17);
    border-bottom: solid rgb(34, 1, 17);
    border-top: solid rgb(34, 1, 17);
}

/*MenuHorizontal*/
nav, header nav ul, footer, footer ul, main, main section{
    display: flex;
}

nav, footer ul li, .logo {
    justify-content: space-between;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;/*Colocar o texto em letras maíusculas*/
    letter-spacing: 4px;/*Adicionar espaço entre as letras*/
}

header nav ul, footer ul{ /*Remover bullets*/
    list-style: none;
}

header nav ul li, footer ul li{
    margin-right: 10px;
    padding: 10px;
}

a{ 
    text-decoration: none; /*Remover linha da âncora*/
    padding: 20px;
}

header nav ul li{
    border-radius: 10px;
    transition: 0.9s; /*Tempo de transição*/
    
}

header nav ul li:hover{
    cursor: pointer;
    background-color: rgb(66, 14, 39);
    letter-spacing: 3px;
    margin-left: 32px;
}

/*Corpo*/
main{
    width: 100%;
    height: 250vh;
    background-size: cover;
    background-color:#690070;
}

/*Loja de compras*/
main section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

main section article article img {
    width: 80%;
    height: 50%;
    margin:20px 20px 40px 30px;
    cursor: pointer;
    border-radius: 20px;
}
main section article article a {
    display: inline;
    font-family: sans-serif;
    color: black;
}
main section section article {
    width: 100%;
    height: 20rem;
    background-color: #f7f7f7d5;
    border-block-start-color: black;
    border-radius: 20px;
}
/*catalogo*/
.btn{
    align-items: center;
    display: block;
    width: 90%;
    text-align: center;
    text-decoration: none;
    background-color: rgb(26, 1, 49);
    color: #fff;
    padding: 10px;
    border-radius: 2,5px;
    transition: .5s;
    

}
.btn:hover{
    background-color: rgb(17, 14, 66);

}

/*Rodapé*/
footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Responsividade*/
@media (max-width:999px) {
    
    header nav ul{
       display: none;
    }  

    main {
       display: flex;
       flex-direction: column;
       height: 100%;
    }
    main section section{
        width: 50%;
        height: 10%;
    }
    
    main section article {
        width: 100%;
    }
    
    main section article h1 {
        text-align: center;
    }

    
}
