/*Resetar formatação*/
*, ::before, ::after{
    margin: none;
    padding: none;
}
body {
  margin: 0;
  padding: 0;
}
/*Cor das letras*/
a, ul, main section:last-child p, h1, section article p{
    color: white;
}

/*Cabeçalho*/
header, footer{
    width: 100%;
    background-color:  rgb(34, 1, 17);
    border-bottom: solid rgb(34, 1, 17);
    border-top: solid rgb(34, 1, 17);
}

/*MenuHorizontal*/
nav, header nav ul, footer, footer ul, main section:last-child, main section:first-child, main section article h1, main section article  {
    display: flex;
}

nav, footer ul li, .logo, section h1, section article h1 {
    justify-content: space-between;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.logo, section h1, section article h1{
    font-size: 24px;
    text-transform: uppercase;/*Colocar o texto em letras maíusculas*/
    letter-spacing: 4px;/*Adicionar espaço entre as letras*/
}

header nav ul, footer ul{ /*Remover bullets*/
    list-style: none;
}

header nav ul li, footer ul li{
    margin-right: 10px;
    padding: 10px;
}

a{ 
    text-decoration: none; /*Remover linha da âncora*/
    padding: 20px;
}

header nav ul li{
    border-radius: 10px;
    transition: 0.9s; /*Tempo de transição*/
}

header nav ul li:hover{
    cursor: pointer;
    background-color: rgb(66, 14, 39);
    letter-spacing: 3px;
    margin-left: 32px;
}

/*Responsividade*/
@media (max-width:999px) {

    header nav ul{
       display: none;
    }

    main section:first-child, main section:last-child{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
    }
    
    main section article {
        width: 100%;
    }
    
    main section article h1 {
        text-align: center;
    }

    main section article:last-child{
        display: none;
    }
    
}

/*Corpo*/
main section:first-child{
    flex-direction: row-reverse;
    background:rgb(66, 14, 39);
    height: 100vh;
    width: 100%;
}
main section article{
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 50%;
}

main section article p{
    text-align: center;
    margin: 0 5vw 2vw 5vw;
}

main section article a{
    background-color: rgba(255, 8, 211, 0.479);
    border-radius: 10px;
    padding: 10px;
}

main section article a:hover{
    cursor: pointer;
    padding: 12px;
}

main section:last-child {
    background: url(imagens/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

main section:last-child article{
    display: flex;
    flex-direction: column;
    width: 50%;
}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


